.profile__picture {
    padding: 2rem 0 3rem 0;
}

// Does not optimize
.overlay {
    position: absolute;
    top: 0;
    left: 6px;
    width: 107px;
    height: 100%;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

.add-icon {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 48px;
}

.add-icon i {
    cursor: pointer;
}
