@import "../../styles/variables/variables";

.profile__container {
    width: 375px;
    height: auto;

    padding: 1rem;

    &--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 0;

        span {
            font-size: $fs-title-2;
            font-weight: $fw-7;
        }

        img {
            margin: 0.625rem;
        }
    }

    &--summary {
        display: flex;

        padding: 0.5rem 0;

        span {
            margin: 0 1rem 0 0;
        }
    }
}
